<h2 mat-dialog-title>{{author.name}}</h2>

<div *ngIf="boolValues[0]">
    <p>
        is father William was a successful local businessman, and his mother Mary was the daughter of a landowner.
        Relatively prosperous, it is likely the family paid for Williams education, although there is no evidence he
        attended university.
        In 1582 William, aged only 18, married an older woman named Anne Hathaway. They had three children, Susanna,
        Hamnet and Juliet. Their only son Hamnet died aged just 11.
        After his marriage, information about the life of Shakespeare is sketchy, but it seems he spent most of his time
        in London – writing and acting in his plays.

        Due to some well-timed investments, Shakespeare was able to secure a firm financial background, leaving time for
        writing and acting. The best of these investments was buying some real estate near Stratford in 1605, which soon
        doubled in value.

        It seemed Shakespeare didn’t mind being absent from his family – he only returned home during Lent when all the
        theatres were closed. It is thought that during the 1590s he wrote the majority of his sonnets. This was a time
        of prolific writing and his plays developed a good deal of interest and controversy. His early plays were mainly
        comedies (e.g. Much Ado about Nothing, A Midsummer’s Night Dream) and histories (e.g. Henry V).buttonBy the
        early Seventeenth Century, Shakespeare had begun to write plays in the genre of tragedy. These plays, such as
        Hamlet, Othello and King Lear, often hinge on some fatal error or flaw in the lead character and provide
        fascinating insights into the darker aspects of human nature. These later plays are considered Shakespeare’s
        finest achievements.
    </p>
</div>
<div *ngIf="boolValues[1]">
    <p>
        He was educated at Lichfield Grammar School before going to Pembroke College, Oxford. However, due to a lack of
        funds, he left after a year – never completing his degree. After Oxford, he worked as a teacher in Market
        Bosworth and Birmingham. In 1735, he married Elizabeth Porter, a widow 20 years older than him. Together they
        opened a school at Edial near Lichfield, but it later closed due to a lack of money. The Johnson’s then left for
        London, where he began spending more time working as a writer.

        He made a living writing for the Gentleman’s Magazine – a report on Parliament. He also wrote a tragedy, Irene,
        and some attempts at poetry.

        Johnson was also employed to catalogue the extensive library of Edward Harley, Earl of Oxford. This gave Johnson
        the opportunity to indulge his great love of reading and the English language. He was inspired to start working
        on a comprehensive dictionary of the English language. It would take him eight years, but it was considered to
        be his finest achievement. Though other dictionaries were in existence, the ‘Johnson Dictionary of the English
        language’ was a huge step forward in its comprehensiveness and quality.

        Johnson was a prolific writer. For two years he almost single-handedly wrote a journal – ‘The Rambler’ full of
        moral essays.

        In 1752, his wife ‘Tetty’ died, plunging him into depression, which proved difficult for him to escape during
        the rest of his life.
    </p>
</div>
<div *ngIf="boolValues[2]">
    <p>Was born in Portsmouth on 7 February 1812, to John and Elizabeth Dickens.

        As a child, experienced the fickle hands of fate; he was first taught at a private school before being
        removed because of his family’s financial hardship.

        In fact, his father’s debts were so bad, the whole family (apart from the young Charles was sent to the debtor’s
        prison at Marshalsea – this would later be the setting for one of his novels – Little Dorrit). However, although
        Charles escaped detention in the debtors’ prison, he was made to work long, 10 hour days, at a local
        boot-blacking factory. The hard and dangerous work left a lasting impression on Charles Dickens, who would later
        incorporate in his writings a sense of social injustice that was endemic in Victorian Britain.

        Charles managed to escape the grind of factory work, by training to be a shorthand writer and gaining employment
        as a journalist – reporting on court cases.

        In 1833, he became a parliamentary journalist for the Morning Chronicle. The young Dickens was fascinated with
        the Houses of Parliament, though he was often left with a lowly impression of the MPs. Shortly after this, he
        began writing his first serialised stories, published under a pseudonym – Boz.
    </p>
</div>

<div *ngIf="boolValues[3]">
    <p>
        Was born in Dublin, 1856. He was sent to various schools in Dublin but developed a great dislike for the
        formalised education systems and widespread use of corporal punishment, which was prevalent at the time.

        After working as a clerk in Dublin for several years, in 1876, Shaw left for London to join his mother who was
        living there. In London, he began reading extensively and writing his first novels. He also became increasingly
        devoted to the ideals of socialism. He joined the Fabian society and became one of its leading writers and
        activists, inspiring and helping activists such as Annie Besant. With fellow Fabians such as Sidney and Beatrice
        Webb, he helped found the London School of Economics (LSE) after receiving private bequests.

        In 1898 he married Charlotte Payne Townshend, a fellow Irish Fabian. The marriage was never consummated and they
        remained childless. In 1906, they moved to Ayot St Lawrence in Hertfordshire, where they lived for the remainder
        of their lives.
        By the 1890s, Shaw’s plays were being performed in London. The income from his plays enabled him to devote his
        life to writing. Like his contemporary, Oscar Wilde, Shaw’s plays were popular for their biting wit and humour.
        His plays were in contrast to many Victorian plays which tended to be sentimental, escapist and lacking in
        satire. Shaw wrote he was influenced by Henrik Ibsen who helped pioneer more realistic modern drama.
    </p>
</div>
<div *ngIf="boolValues[4]">
    <p>
        Was born in Picardy Place, Edinburgh, Scotland in 1859. At school, he developed a talent for storytelling in the
        dormitories after lights. He nursed ambitions to become a well-established writer – especially in the historical
        novel field. However, from 1876 to 1881, he studied medicine at the University of Edinburgh; he trained as a
        doctor and later set up a medical practice in Plymouth and later Portsmouth.

        fter his father’s death, the burden of supporting a large family fell on Arthur Conan Doyle. To supplement his
        income he began writing short stories. His first story of note was A Study in Scarlet published in the Beeton’s
        Christmas Annual 1887 (featuring the first appearance of Sherlock Holmes. This later led to a contract writing
        more Sherlock Holmes stories for the Strand magazine. It was in these early stories that he developed the
        character of Sherlock Holmes. It was a character that fascinated the reading public and he soon became one of
        the best-loved fictional characters. Sherlock Holmes always had an element of mystery – the sharpest mind and
        his unbelievable powers of observation.

        The success of Sherlock Holmes enabled Conan Doyle to retire from his medical profession and become a full-time
        writer. But, it was not the popular Sherlock Holmes stories which inspired him the most. He was more interested
        in writing serious historical novels and becoming known as a famous writer in this genre. However, his
        historical novels never brought him the same financial remuneration or fame as his Sherlock Holmes stories did.
    </p>
</div>
<h2 mat-dialog-title>Books</h2>
<span *ngFor="let book of author.books">
    <li>{{ book?.name }}</li>
</span>