<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Orders({{dataModel.length}})</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date of order</th>
          <th>Email</th>
          <th>Book name</th>
          <th>Amount</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of dataModel">
          <td>{{order.dateCreated | date: 'EEEE, MMMM d, y'}}</td>
          <td>{{order.email}}</td>
          <td>{{order.bookName}}</td>
          <td>{{order.total}} $</td>
          <td>{{order.status}}</td>
          <td>
            <button mat-raised-button class='mat-raised-button mat-warn' style='float: right' (click)="shipping(order)">
              Shipping
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>