<mat-sidenav-container class='mat-table'>
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button [routerLink]="['authors']" mat-button class='mat-button1'
        (click)="close('Author Store')">Authors</button></p>
    <p><button [routerLink]="['books']" mat-button class='mat-button2' (click)="close('Book Store')">Books</button></p>
  </mat-sidenav>


  <mat-sidenav-content>
    <p><button mat-button class='mat-button-store' (click)="sidenav.open()">Magazine Store</button></p>
    <p>Closed due to: {{reason}}</p>
  </mat-sidenav-content>
</mat-sidenav-container>