.align-center {
    width: 40%;
    margin: auto;
  }
  
  .login-card {
    margin-top: 5%;
    border-radius: 15px;
  }
  
  .logo {
    margin-bottom: 0;
  }
  
  .text_under_the_logo {
    font-weight: 700;
    font-family: "Lato", sans-serif;
  }
  
  
