<div class="panel panel-primary">
    <ul><button class="nav-item nav-link-edit" [routerLink]="['/books']">To books list</button ></ul>
  <div class="panel-heading">
    <h2>List of orders</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>DateCreated</th>
          <th>Email</th>
          <th>Book name</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | async">
          <td>{{order.dateCreated}}</td>
          <td>{{order.email}}</td>
          <td>{{order.bookName}}</td>
          <td>{{order.total}}</td>
          <td>{{order.status}}</td>        
        </tr>
      </tbody>
    </table>
  </div>
</div>
