<div class="main_wrapper">
  <span>Login page</span>
  <div class="w3-container align-center w3-card login-card">
    <form [formGroup]="resetForm">   
      <div class="form-group">
        <label class="w3-text-blue"><b>Email</b></label>
        <input type="text"
               formControlName="email"
               class="w3-input w3-border form-control" />
      </div>
      <button class="w3-btn w3-blue"      
      (click)="resetPassword()">
Login <i class="w3-medium fa fa-check"></i>
</button>
